*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    
    padding: 0px 500px 0px 500px;
}    

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aside{
    width:5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.header{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 0px 50px;
    h1{
        font-size: 22px;
        color: #AE2B2F;
    }
} 

.logo img{
    width: 200px;
}

.contenido-orden{
    padding: 0px 100px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.datos-trabajador{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.nombre{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.data_nombre{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    flex-wrap: nowrap;
}

.data_nombre > span:first-child{
    white-space: nowrap;
}

.bordex{
    border-bottom: 1px solid #000000;
    padding: -10px;
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}  

.sin_subrayado_completo{
    margin-top: 10px;
}
.contrato{
    display: flex;
    flex-direction: row; 
    gap: 10px;
}

.area{
    display: flex;
    flex-direction: column; 
    margin-top: 10px;
}

.div1{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    margin-top: 10px;
}

.div2{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.paralelo{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
}

.div3{
    margin-bottom: 20px;
}

.div25{
    display: flex;
    flex-direction: column;
    gap: 10px;   
    margin-top: 20px; 
    justify-content: space-between;
}

.observaciones{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}







            .autorizacion {
                width: 100%;
                margin-top: 25px;
                page-break-inside: avoid;
            }

            .tabla-autorizacion {
                width: 85%;
                margin: 0 auto 8px auto;
                border-collapse: collapse;
                text-align: center;
                table-layout: fixed;
            }

            .tabla-autorizacion th {
                background-color: #AE2B2F;
                color: white;
                font-weight: bold;
                padding: 6px;
                /* border: 1px solid #888; */
                width: 50%;
                font-size: 11px;
            }

            .tabla-autorizacion td {
                height: 100px;
                vertical-align: bottom;
                padding: 8px;
                /* border: 1px solid #888; */
                width: 50%;
            }

            .firma-espacio {
                height: 50px;
                border-bottom: 1px solid black;
                margin: 0 auto 8px auto;
                width: 75%;
            }

            .nombre-firmante {
                /* font-weight: bold; */
                margin: 0;
                font-size: 10px;
                color: #454444;
            }

            .cargo-firmante {
                font-weight: bold;
                margin: 0;
                margin-top: 3px;
                font-size: 9px;
            }
